In [1]:
import pandas as pd 
import numpy as np
from sklearn.neighbors import NearestNeighbors

import warnings
warnings.filterwarnings("ignore")

In [2]:
ratings = pd.read_csv("ratings.csv")
movies = pd.read_csv("movies.csv")

ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [3]:
ratings = ratings.drop("timestamp",axis=1)

In [4]:
ratings["movieId"].value_counts()

356       329
318       317
296       307
593       279
2571      278
         ...
86279       1
86922       1
5962        1
87660       1
163981      1
Name: movieId, Length: 9724, dtype: int64

In [5]:
ratings

        userId  movieId  rating
0            1        1     4.0
1            1        3     4.0
2            1        6     4.0
3            1       47     5.0
4            1       50     5.0
...        ...      ...     ...
100831     610   166534     4.0
100832     610   168248     5.0
100833     610   168250     5.0
100834     610   168252     5.0
100835     610   170875     3.0

[100836 rows x 3 columns]

In [6]:
movies

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
9739,193585,Flint (2017),Drama
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy

In [7]:
movies["movieId"].value_counts().unique()

array([1], dtype=int64)

In [8]:
df = pd.merge(movies,ratings,how="inner").drop("genres",axis=1)
df

        movieId                                      title  userId  rating
0             1                           Toy Story (1995)       1     4.0
1             1                           Toy Story (1995)       5     4.0
2             1                           Toy Story (1995)       7     4.5
3             1                           Toy Story (1995)      15     2.5
4             1                           Toy Story (1995)      17     4.5
...         ...                                        ...     ...     ...
100831   193581  Black Butler: Book of the Atlantic (2017)     184     4.0
100832   193583               No Game No Life: Zero (2017)     184     3.5
100833   193585                               Flint (2017)     184     3.5
100834   193587        Bungo Stray Dogs: Dead Apple (2018)     184     3.5
100835   193609        Andrew Dice Clay: Dice Rules (1991)     331     4.0

[100836 rows x 4 columns]

In [9]:
df = pd.pivot_table(data=df, columns="userId", index=["movieId","title"],values=["rating"])
df

                                                  rating                   \
userId                                               1   2   3   4    5
movieId title
1       Toy Story (1995)                             4.0 NaN NaN NaN  4.0
2       Jumanji (1995)                               NaN NaN NaN NaN  NaN
3       Grumpier Old Men (1995)                      4.0 NaN NaN NaN  NaN
4       Waiting to Exhale (1995)                     NaN NaN NaN NaN  NaN
5       Father of the Bride Part II (1995)           NaN NaN NaN NaN  NaN
...                                                  ...  ..  ..  ..  ...
193581  Black Butler: Book of the Atlantic (2017)    NaN NaN NaN NaN  NaN
193583  No Game No Life: Zero (2017)                 NaN NaN NaN NaN  NaN
193585  Flint (2017)                                 NaN NaN NaN NaN  NaN
193587  Bungo Stray Dogs: Dead Apple (2018)          NaN NaN NaN NaN  NaN
193609  Andrew Dice Clay: Dice Rules (1991)          NaN NaN NaN NaN  NaN

                                                                          ...  \
userId                                             6    7    8   9   10   ...
movieId title                                                             ...
1       Toy Story (1995)                           NaN  4.5  NaN NaN NaN  ...
2       Jumanji (1995)                             4.0  NaN  4.0 NaN NaN  ...
3       Grumpier Old Men (1995)                    5.0  NaN  NaN NaN NaN  ...
4       Waiting to Exhale (1995)                   3.0  NaN  NaN NaN NaN  ...
5       Father of the Bride Part II (1995)         5.0  NaN  NaN NaN NaN  ...
...                                                ...  ...  ...  ..  ..  ...
193581  Black Butler: Book of the Atlantic (2017)  NaN  NaN  NaN NaN NaN  ...
193583  No Game No Life: Zero (2017)               NaN  NaN  NaN NaN NaN  ...
193585  Flint (2017)                               NaN  NaN  NaN NaN NaN  ...
193587  Bungo Stray Dogs: Dead Apple (2018)        NaN  NaN  NaN NaN NaN  ...
193609  Andrew Dice Clay: Dice Rules (1991)        NaN  NaN  NaN NaN NaN  ...

                                                                            \
userId                                             601  602  603  604  605
movieId title
1       Toy Story (1995)                           4.0  NaN  4.0  3.0  4.0
2       Jumanji (1995)                             NaN  4.0  NaN  5.0  3.5
3       Grumpier Old Men (1995)                    NaN  NaN  NaN  NaN  NaN
4       Waiting to Exhale (1995)                   NaN  NaN  NaN  NaN  NaN
5       Father of the Bride Part II (1995)         NaN  NaN  NaN  3.0  NaN
...                                                ...  ...  ...  ...  ...
193581  Black Butler: Book of the Atlantic (2017)  NaN  NaN  NaN  NaN  NaN
193583  No Game No Life: Zero (2017)               NaN  NaN  NaN  NaN  NaN
193585  Flint (2017)                               NaN  NaN  NaN  NaN  NaN
193587  Bungo Stray Dogs: Dead Apple (2018)        NaN  NaN  NaN  NaN  NaN
193609  Andrew Dice Clay: Dice Rules (1991)        NaN  NaN  NaN  NaN  NaN


userId                                             606  607  608  609  610
movieId title
1       Toy Story (1995)                           2.5  4.0  2.5  3.0  5.0
2       Jumanji (1995)                             NaN  NaN  2.0  NaN  NaN
3       Grumpier Old Men (1995)                    NaN  NaN  2.0  NaN  NaN
4       Waiting to Exhale (1995)                   NaN  NaN  NaN  NaN  NaN
5       Father of the Bride Part II (1995)         NaN  NaN  NaN  NaN  NaN
...                                                ...  ...  ...  ...  ...
193581  Black Butler: Book of the Atlantic (2017)  NaN  NaN  NaN  NaN  NaN
193583  No Game No Life: Zero (2017)               NaN  NaN  NaN  NaN  NaN
193585  Flint (2017)                               NaN  NaN  NaN  NaN  NaN
193587  Bungo Stray Dogs: Dead Apple (2018)        NaN  NaN  NaN  NaN  NaN
193609  Andrew Dice Clay: Dice Rules (1991)        NaN  NaN  NaN  NaN  NaN

[9724 rows x 610 columns]

In [10]:
df = df.reset_index().set_index("movieId")
df = df.fillna(0)
df

                                             title rating                      \
userId                                                  1    2    3    4    5
movieId
1                                 Toy Story (1995)    4.0  0.0  0.0  0.0  4.0
2                                   Jumanji (1995)    0.0  0.0  0.0  0.0  0.0
3                          Grumpier Old Men (1995)    4.0  0.0  0.0  0.0  0.0
4                         Waiting to Exhale (1995)    0.0  0.0  0.0  0.0  0.0
5               Father of the Bride Part II (1995)    0.0  0.0  0.0  0.0  0.0
...                                            ...    ...  ...  ...  ...  ...
193581   Black Butler: Book of the Atlantic (2017)    0.0  0.0  0.0  0.0  0.0
193583                No Game No Life: Zero (2017)    0.0  0.0  0.0  0.0  0.0
193585                                Flint (2017)    0.0  0.0  0.0  0.0  0.0
193587         Bungo Stray Dogs: Dead Apple (2018)    0.0  0.0  0.0  0.0  0.0
193609         Andrew Dice Clay: Dice Rules (1991)    0.0  0.0  0.0  0.0  0.0

                             ...                                               \
userId     6    7    8    9  ...  601  602  603  604  605  606  607  608  609
movieId                      ...
1        0.0  4.5  0.0  0.0  ...  4.0  0.0  4.0  3.0  4.0  2.5  4.0  2.5  3.0
2        4.0  0.0  4.0  0.0  ...  0.0  4.0  0.0  5.0  3.5  0.0  0.0  2.0  0.0
3        5.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0  2.0  0.0
4        3.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
5        5.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  3.0  0.0  0.0  0.0  0.0  0.0
...      ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
193581   0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
193583   0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
193585   0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
193587   0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
193609   0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0


userId   610
movieId
1        5.0
2        0.0
3        0.0
4        0.0
5        0.0
...      ...
193581   0.0
193583   0.0
193585   0.0
193587   0.0
193609   0.0

[9724 rows x 611 columns]

## Model Implemetation

In [12]:
def find_movies(df,movie_name,k):
    
    model = NearestNeighbors(n_neighbors=k+1, algorithm="brute")
    model.fit(df.drop("title",axis=1))

    movie_id = df[df["title"] == movie_name].index[0]
    
    k_neighbors = model.kneighbors( df[df.index == movie_id].drop("title",axis=1), return_distance=False )[0].tolist()

    movies_titles = []

    for idx in k_neighbors:
        if idx != movie_id:
            title = df.iloc[idx]["title"].values.tolist()[0]
            if title != movie_name:
                movies_titles.append(title)
    
    return movies_titles

## Find recommendations the movies you like

#### specify the movies name (movie name should be one of those in the data frame).
#### specify the number of movies you'd like the engine to recommend.

In [13]:
# movie name
movie_name = 'Shawshank Redemption, The (1994)'

# number of movies you want the engine to recommend 
k = 10

In [14]:
movies_to_watch = find_movies(df,movie_name,k)
print("movies recommended to you : ")
for i in range(k):
    print(i+1,movies_to_watch[i])

movies recommended to you :
1 Forrest Gump (1994)
2 Pulp Fiction (1994)
3 Usual Suspects, The (1995)
4 Schindler's List (1993)
5 Silence of the Lambs, The (1991)
6 Fight Club (1999)
7 Apollo 13 (1995)
8 Braveheart (1995)
9 Seven (a.k.a. Se7en) (1995)
10 Good Will Hunting (1997)